*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
Header {
    width: 80%;
    height: 400px;
    border: 1px solid white;
    margin-left:10%;
    margin-right: 10%;
    background-image:url(https://i.pinimg.com/736x/81/fc/e1/81fce12d4a10f51deae33b320376d44b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 0%;

}

#h11 {
    margin-top: 15%;
    margin-left: 37%;
}
